.main-container {
  padding: 20px;
}

.slide-arrows-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1.875rem;
  padding: 3rem;
}

@media screen and (min-width: 768px) {
  .slide-arrows-container {
    display: flex;
    padding: 0;
    align-self: flex-end;
  }
}
