.main-container {
  padding: 20px;
}

.section__start {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("../../public/images/foto-section1.jpeg");
  flex-direction: column;
}

.div__section {
  display: flex;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: flex-end;
  background-image: url(/public/images/Logo-1.svg);
  height: 10vh;
  width: 100%;
  background-color: aqua;
}

.section__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__button-login {
  display: none;
}

body {
  min-width: 100%;
}

.header_button-signUp {
  display: none;
}

.section__form {
}

.form__ul {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  flex-direction: column;
}






/*@media screen and (min width: 768px) {

}
