@use "fonts";

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: fonts.$font-text;
}

body {
  margin: 0;
  font-size: 1rem;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fonts.$font-titles;
}

input,
button {
  font: inherit;
  border: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}
